/* Header */
h1 {
	background-color: #0033cc;
	color: #eeeeff;
	font-family: Tahoma;
	text-align: center;
	font-size: 40px;
	padding: 0px;
	margin: 0px;
}

/* Navigation menu */
nav {
	list-style: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #d2a679;
	/*text-align: center;*/
}
nav ul li {
	list-style: none;
	float: left;
	margin: 0px;
	padding: 0px;
	/*display: inline;*/
}
nav ul li a {
	border-style: solid;
	display: block;
	color: black;
	text-align: center;
	padding: 7px 12px;
	text-decoration: none;
}

nav ul li a:hover {
    background-color: #86592d;
}

/* Main content 
 #main-container is a wrapper for all page content
 */
#main-container {
	/*width: 980px;*/
	margin: 0 auto;
	font-family: sans-serif
}
div#main {
	clear: both;
}

#logo {
	background: url("img/logo.png") no-repeat;
	width: 350px;
	height: 400px;
	float: right;
	margin-top: 30px;
}

/* Footer */
footer {
	/* Set background color just to make the footer standout*/
	background: #eee;
	height: 20px;
}
footer #temp-project-name-container {
	float: left;
}